/* Alerts.css */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .alert-error {
    color: #fff;
    background-color: #f44336;
    border: 1px solid #f44336;
  }
  
  .alert-success {
    color: #fff;
    background-color: #4caf50;
    border: 1px solid #4caf50;
  }
  